<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">

	<!-- login 처리 -->
	<select id="login" resultType="com.spring.domain.AuthVO">
		select userid, name from member where userid = #{userid} and password = #{password}
	</select>

</mapper>